In [1]:
import pandas as pd

# Creando un DataFrame

In [2]:
df = pd.read_csv('../Mastermind/mastermind.csv') #Por temas de doocumentación se asocia df a dataframe

In [4]:
df

   Unnamed: 0          nombre         especialidad  edad  visitas sexo
0           0       SFDX Show             Hardware    30   130855    H
1           1     Sara Nogark     Edición de vídeo    29   114175    M
2           2    Nate Gentile         Programación    31   142545    H
3           3       Bettatech         Programación    31   149462    H
4           4  Antonio Sarosi  Sistemas Operativos    28   132008    H
5           5      Edgar Pons             Robótica    29   143620    H
6           6         s4vitar              Hacking    28   132567    H

Como podemos ver, nos genera por defecto una columna al principio de la izquierda pero nosotros ya contamos en el caso de este dataset csv con una columna indice, así que le podemos indicar cual queremos que sea el indice de la siguiente manera:

In [5]:
df = pd.read_csv('../Mastermind/mastermind.csv', index_col=[0]) 
# aquí al indicarle el 0, le tratamos de decir que agarre la primera columna
#Otra manera sería con nombre de la columna, un ejemplo es este:

# df = pd.read_csv('../Mastermind/mastermind.csv', index_col="nombre")

In [6]:
df

           nombre         especialidad  edad  visitas sexo
0       SFDX Show             Hardware    30   130855    H
1     Sara Nogark     Edición de vídeo    29   114175    M
2    Nate Gentile         Programación    31   142545    H
3       Bettatech         Programación    31   149462    H
4  Antonio Sarosi  Sistemas Operativos    28   132008    H
5      Edgar Pons             Robótica    29   143620    H
6         s4vitar              Hacking    28   132567    H

 Pandas asocia cada columna como un array, por ende podemos manipularlas y acceder a ellas

In [9]:
df["especialidad"]

0               Hardware
1       Edición de vídeo
2           Programación
3           Programación
4    Sistemas Operativos
5               Robótica
6                Hacking
Name: especialidad, dtype: object

Aquí podemos ver que el tipo de la columna a como está asociada a panda

In [11]:
type(df["especialidad"])

pandas.core.series.Series